.content {
  width: 90%;
  margin: 1.4rem auto auto auto;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  font-weight: 500;
}

button {
  margin-bottom: .8rem;
}

.table {
  width: 100%;
}

.livros {
  margin-left: .6rem;
}

.delete {
  color: red;
  margin-left: .5rem;
}

.mat-header {
  width: 5rem;
}